/* ==========================
   CSS BASE DO TEMPLATE
   ========================== */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #ffffff,
                0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    z-index: 2;
}

.footer {
    position: relative !important;
    bottom: auto !important;
    width: 100%;
    line-height: normal !important;
    z-index: 1;
}


/* Form floating (Bootstrap) */
.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* Tabelas básicas */
table.tabela {
    border-collapse: collapse;
}

table.tabela td,
table.tabela th {
    border: 1px solid #ccc;
    padding: 8px;
}

/* ==========================
   ESTILOS PERSONALIZADOS
   ========================== */

/* Layout geral */
body {
    background-color: #f8f9fa;
}

/* Títulos */
h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

/* Cards */
.card {
    border-radius: 10px;
}

/* NAVBAR */

/* Espaçamento */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Logo */

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
    letter-spacing: 0.4px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
}

/* Hover suave */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #e5e7eb;
}

/* Link ativo */
.navbar-dark .navbar-nav .nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
}

/* TABELAS */

.table {
    background-color: #ffffff;
}

/* BOTÕES */

.btn + .btn {
    margin-left: 6px;
}

/* VALIDAÇÕES VISUAIS */

.field-validation-error {
  font-size: 0.85rem;
}

.input-validation-error {
  border-color: #dc3545;
}